{% extends './layout.twig' %}
{% block content %}
    
    <div class="container mt-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/contact.html" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>

    <div class="container">
        
        <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <div><h5><strong>Birthday:</strong> 8 March 1983</h5></div>
                            <div><h5><strong>Website:</strong> kasekas333.surge.sh</h5></div>
                            <div><h5><strong>Phone:</strong> +372 53 321 567</h5></div>
                            <div><h5><strong>City:</strong> Tallinn, Estonia</h5></div>
                            <div><h5><strong>Age:</strong> 39</h5></div>
                            <div><h5><strong>Degree:</strong> Bachelor</h5></div>
                            <div><h5><strong>Freelance:</strong> Available</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

        

    </div>

    <div class="container my-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/contact.html" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>
{% endblock %}