{% extends './layout.twig' %}
{% block content %}
    
    <div class="container mt-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>

    <div class="container">
        <h3 class="my-5 mb-3">Contact Me:</h3>
        
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mx-3">
                                <h4>Location:</h4>
                                <div><strong>Tallinn Estonia</strong></div>
                            </div>   
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mx-3">
                                <h4>Email:</h4>
                            <div><strong>Kask.Marko@tptlive.ee</strong></div>
                        </div>   
                    </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="mx-3">
                                <h4>Call:</h4>
                                <div><strong>+372 53 321 567</strong></div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    </div>

    <div class="container my-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>
{% endblock %}