  {% extends './layout.twig' %}
{% block content %}
    
    <div class="container mt-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/contact.html" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>

    <div class="container">
        <h3 class="my-5 mb-3">Education:</h3>
        
        <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Tallinn Polytechnic School</h4>
                            <div><strong>2021-Present</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Software development</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>IT College of TTÜ</h4>
                            <div><strong>2015-Present</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Bachelor of software development</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Estonian Academy of Music And Theatre</h4>
                            <div><strong>2011-Present</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Magister of jazz music/tenor-saxophone</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Helsinki Metropolia University of Applied Sciences</h4>
                            <div><strong>2007-2011</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Bachelor of jazz music/tenor-saxophone</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>University of Tartu Viljandi Culture Academy</h4>
                            <div><strong>2001-2006</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Bachelor of jazz music/tenor-saxophone</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Kuusalu Secondary School</h4>
                            <div><strong>1989-2001</strong></div>
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Secondary education</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="container my-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/contact.html" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>
{% endblock %}