<div class="container">
        <h1>Marko Kask</h1>
        <a href="mailto:Marko.Kask@tptlive.com" type="button" class="btn btn-outline-primary mt-1">
            Marko.Kask@tptlive.com
        </a>
        <p class="lead mt-3">
            Enjoys Development and Design, Programming, Front-end and Back-end as well as UI and UX.
        </p>
</div>