<!DOCTYPE html>
{% extends './layout.twig' %}
{% block content %}
    
    <div class="container mt-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/contact.html" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3 class="mb-3">Work Experience</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Mektory</h4>
                            <div><strong>2017-Present</strong></div>
                            IT Support and Helpdesk.
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Fixing computers</li>
                            <li class="list-group-item">ETS Test Center administrator</li>
                            <li class="list-group-item">Providing all kinds of technical support</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Freelance musician</h4>
                            <div><strong>2001-Present</strong></div>
                            Tenor saxophonist.
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Performing pop-jazz gigs</li>
                            <li class="list-group-item">Booking gigs</li>
                            <li class="list-group-item">Making arrangements for bands</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="mb-3">Skills</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Front End</h4>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JS</li>
                                <li>Bootstrap</li>
                                <li>Angular</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Back End</h4>
                            <ul>
                                <li>NodeJS</li>
                                <li>Java</li>
                                <li>MySQL</li>
                                <li>Mongo</li>
                                <li>C#</li>
                                <li>API´s</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h3>Previous Projects</h3>
        <div class="row">
            <div class="col-lg-3">
                <div class="card m-b-3">
                    <img src="https://placekitten.com/400/200" alt="Kitten" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Kitten Startup</h5>
                        <p class="card-text">Cat specialist.</p>
                        <div class="btn btn-primary">View Website</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card m-b-3">
                    <img src="https://placebear.com/400/200" alt="Bear" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Bear API</h5>
                        <p class="card-text">Bear specialist.</p>
                        <div class="btn btn-primary">View Website</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card m-b-3">
                    <img src="https://picsum.photos/400/200" alt="Medical Startup" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Youtube Channel</h5>
                        <p class="card-text">Design and Development</p>
                        <div class="btn btn-primary">View Website</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card m-b-3">
                    <img src="https://picsum.photos/400/200" alt="Medical Startup" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nature</h5>
                        <p class="card-text">Design</p>
                        <div class="btn btn-primary">View Website</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="container my-5">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/education.html" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact Me</a>
                </li>
        </ul>
        </nav>
    </div>
    
{% endblock %}
